:global .form-group.error input {
	border-color: #a94442 !important;
}

:global .form-group.error label {
	color: #a94442;
}

:global .form-group.valid input {
	border-color: #3c763d !important;
}

:global .form-group.valid label {
	color: #3c763d;
}
