.sidemenu {
	top: 4rem;
	z-index: 6;
}

.sidemenu a:hover {
	background: #ccd4fc;
}

:global .sidemenu a {
	font-size: 0.9em;
}

:global .sidemenu-enter {
  left: -14rem;
}

:global .sidemenu-enter.sidemenu-enter-active {
  transition: left 100ms ease-in;
	left: 0;
}

:global .sidemenu-leave {
  left: 0;
}

:global .sidemenu-leave.sidemenu-leave-active {
  transition: left 300ms ease-in;
	left: -14rem;
}
